.btnProd.selecionado {
    background-color: #133786 !important; 
    color: white !important; 
    border-color: #0056b3 !important;
}

.btnProd.selecionado .tagPreco {
    color: #20c997 !important; 
}
